body{
    background-color: lightgrey;
    font-family: sans-serif;
}

#main-container{
    width: 400px;
    background-color: white;
    margin: auto;
    padding: 15px;
}

h1{
    text-align: center;
    border-bottom: 1PX solid grey;
}